<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="vue.js"></script>
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: #FFFCEF;
			display: inline-block;
			margin: 10px;
			border: solid 1px black;
		}
		.flat-1 {
			background-color: #D2EBCD;
		}
		.flat-2 {
			background-color: #FF7F5B;
		}
		.flat-3 {
			background-color: #393939;
		}
	</style>
</head>

	<body>
		<div id="app">
			<div 
				class="demo" 
				v-bind:style="{'background-color': color}">
			</div>
			<div 
				class="demo" 
				v-bind:style="myStyles">
			</div>
			<div class="demo"></div>
			<hr>
			<input type="text" v-model="color">
			<input type="text" v-model="width">
		</div>

	<script>
		new Vue({
		el: '#app',
		data: {
			attachPrimaryColor: false,
			color: 'flat-2',
			width: 100
		},
		computed: {
			myStyles: function() {
				return {
					'background-color': this.color,
					width: this.width + 'px'
				}
			}
		}
	});
	</script>
	</body>

</html>