<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="vue.js"></script>
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: #FFFCEF;
			display: inline-block;
			margin: 10px;
			border: solid 1px black;
		}
		.flat-1 {
			background-color: #D2EBCD;
		}
		.flat-2 {
			background-color: #FF7F5B;
		}
		.flat-3 {
			background-color: #393939;
		}
	</style>
</head>

	<body>
		<div id="app">
			<ul>
				<li v-for="(ingredient, i) in ingredients" v-bind:key="ingredient">{{ingredient}} ({{i}}) </li>
			</ul>
			<hr>
			<ul>
				<li v-for="person in persons">
					<span v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</span>
				</li>
			</ul>
			<hr>
			<ul>
				<li v-for="n in 15"> {{n}} </li>
			</ul>
			<hr>
			<template v-for="(ingredient, index) in ingredients">
				<h5>{{ingredient}}</h5>
				<p>{{index}}</p>
			</template>
		</div>

	<script>
		new Vue({
		el: '#app',
		data: {
			ingredients: ['meat', 'fruit', 'cookies'],
			persons: [
				{ name: 'Max',
					age: 27,
					color: 'pink'
				},
				{ name: 'Manual',
					age: 'unknown',
					color: 'blue'
				}
			]
		}
	});
	</script>
	</body>

</html>